:root{
    --shadow:rgb(87, 87, 87);
    --white:rgb(232, 232, 232);
    --gray:rgb(202, 202, 202);
    --red:rgb(170, 32, 32);
}
body{
    background-color:var(--gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    max-width:300px;
    height: auto;
    margin:0px auto;
    margin-top: 7%;
    padding: 50px;
    gap: 30px;
    border: 2px solid ;
    box-shadow: 0px 5px var(--shadow);
}
input{
    background-color: var(--gray);
    border: none;
    padding: 5px 10px;
    border: 1.9px solid var(--shadow);
    box-shadow: inset 0px 4px var(--shadow);
}
input[type=submit]{
    background-color: var(--gray);
    padding: 8px 20px;
    border-radius: 90px;
    box-shadow: 0 4px var(--shadow);
    transition: all linear 100ms;
    cursor: pointer;
}
input[type=submit]:active{
    transform: translateY(4px);
    box-shadow: none;

}
input::placeholder,input{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color:var(--shadow);
}
#errorDialog[open],#okDialog[open]{
    position: absolute;
    padding: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5px rgb(54, 0, 0);
    border: 2px solid black;
}
#errorDialog::backdrop,#okDialog::backdrop{
    backdrop-filter: blur(5px);
}
#errorDialog[open]{
    background-color: var(--red);
    color:var(--white);
    
}
#okDialog[open]{
    background-color: rgb(14, 196, 20);
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid black;
    box-shadow:0px 3px rgb(54, 0, 0);
    background-color: var(--gray);
    padding: 8px 20px;
    border-radius: 90px;
    transition: all linear 100ms;
    cursor: pointer;
}
a:active{
    box-shadow: none;
    transform: translateY(5px);
}
/* .overlay{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(20, 16, 16, 0.289);
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(5px);
    
} */
.symbol{
    position: absolute;
    top:0px;
    left: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
    width: fit-content;
    font-size: 2em;
    margin: 0px;
}
.symbol:active{
    transform: translateY(0px);
}
#closebt{
    position: absolute;
    right:10px;
    top: 0px;
    font-weight: 100;
    cursor: pointer;
}
h1{
    margin: 0px;
}
.hint{
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    cursor: pointer;
    text-decoration:underline ;
}
#hintDialog[open]{
    position: absolute;
    bottom: 10%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap:10px ;
    font-weight: 500;
}
